@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

html {
    background-color: #EDEDED;
}

.canvas-container{
    position:absolute;
    left: 12%;
    top:5vh;
    border-radius:12px;
    width:80% !important;
}